body {
    margin: 0;
    padding: 0;
    background: #044f54;
}

#iiif-map {
    position: absolute;
    width: 80%;
    left: 20%;
    top: 0;
    bottom: 0;
    background: #e6ddcc;
}


#ui {
    position: absolute;
    left: 0%;
    top: 20%;
    width: 18%;
    height: 70%;
    padding: 1em 1em;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    overflow-y:auto;
    scrollbar-color: coral;
}

#title{
    position: absolute;
    left: 0%;
    width: 15%;
    z-index: 1000;
    padding: 0em 1em;
    color: #e6ddcc;
    font-family: 'Roboto Condensed', sans-serif;
    background: #044f54;
}

#bottom {
    position: absolute;
    left: 0%;
    bottom: 1%;
    width: 15%;
    z-index: 1000;
    padding: 0em 1em;
    color: #e6ddcc;
    font-family: 'Lato', sans-serif;
    background: #044f54;
}


#previous {
    background-color: #e6ddcc;
    color: black;
    width: 50%;
}

#next {
    background-color: #e6ddcc;
    color: black;
    width: 40%;
}

#pages{
    padding: 1em;
}

a {
    color: coral;
}

a:hover {
    background-color: #e6ddcc;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #title{
        font-size:80%;
    }
    #ui{
        font-size:80%;
    }
    #bottom{
        font-size: 80%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    #title{
        font-size:80%;
    }
    #ui{
        font-size:80%;
    }
    #bottom{
        font-size: 80%;
    }
}

@media all and (max-width: 480px) {
    #title{
        font-size:80%;
    }
    #ui{
        font-size:80%;
    }
    #bottom{
        font-size: 80%;
    }
}
